<div class="border p-4">
    <p class="text-sm mt-4">
        Here you can change your password!
    </p>
</div>

<div class="flex flex-col gap-3 mt-4 items-center">
    <input
    type="password"
    placeholder="Old password..." 
    class="border p-3 rounded w-60" 
    [(ngModel)]="oldPassword"
    />

    <input
    type="password"
    placeholder="New password..." 
    class="border p-3 rounded w-60" 
    [(ngModel)]="newPassword"
    />

    @if(newPassword.length >0 && newPassword.length<8 || 
    oldPassword.length > 0 && oldPassword.length<8) {
        <p class="text-red-500">
            Password must be at least 8 charachters.
        </p>
    }

    @if (errorMessage()) {
        <p class="text-red-500">
            {{ errorMessage() }}
        </p>
    }

    @if (changePasswordResponse()) {
        <p class="text-green-500">
            {{ changePasswordResponse() }}
        </p>
    }

    <button 
    class="border p-3 rounded w-60 bg-green-600" 
    (click)="changePassword()"
    [disabled]="
    (newPassword.length > 0 && newPassword.length < 8) || 
    (oldPassword.length > 0 && oldPassword.length < 8)"
    >
        Change Password
    </button>
</div>